/* VERSION MOBILE */
html 
{
    box-sizing: border-box;
    }
    body
    {
        font-family:'Raleway' , sans-serif;
        margin: 0;
        padding: 0;
        
        position: relative;
    }
    /*------------PARTIE HEADER ICI ---------*/
    .reservia 
    {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: auto;
    }
    header 
    { 
        width: 100%; 
        position: relative;
    }
    .menu
    {  
       display: inherit;
       width: 100%;
       justify-content: space-around;   
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        border-bottom: 2px solid #F2F2F2; 
    }
    .navigation li
       {
        font-size: 20px;
        display: inline-block;
        padding: 20px;
    }
    .navigation li:hover
    {
        color: #0065FC; 
        cursor: pointer;
        border-bottom: solid 2px;
    }
    .inscrire
    {  
        font-size: 20px;
        font-weight: bold;
        color: #0065FC;
        text-decoration: None;
        position: absolute;
        right: 10px;
        top: 23px;
    }
    .inscrire:hover
    {
        color: #0065FC;
        cursor: pointer;
        border-top: solid 2px;
    }
    /*--------PETITE BANNIERE ICI--------*/
    .banniere
    {
        height: 130px;
        margin-left: 10px;
    }
    .banniere h2
    {   font-size: 25px;
        height: 1px;
        margin-top: 40px;  
    }
    .banniere p
    {
        font-size: 19px;
        margin-top: 60px;
    }
      /*-------PARTIE RECHERCHE ICI-----------*/
    .recherche
    {
          align-items: center;
    }
    .barre-de-recherche
    {
          border:solid 2px #F2F2F2;
          border-radius: 20px;
          height: 55px;
          max-width: 330px;
          display:flex;
          flex-direction: row;
          margin-top: 25px;
          margin-left: 10px;
    }
    .recherche i
    {    
           padding-top: 17.5px;
          padding-bottom: 17.5px;
          padding-left: 19px;
          padding-right: 19px;
          background-color: #F2F2F2;
          border-radius: 15px 0px 0px 15px;
          font-size: 20px;   
    }
    .recherche-2
    {     
          width: 100%;
          text-align: center;
          border-style: none;
          font-size: 17px;
          font-weight: bold;
    }
    .bouton-recherche
    {
          border-style: none;
          display: inline-block;
          background-color:#0065FC;
         border-color: #0065FC;
          border-radius: 15px;
          cursor: pointer;
          color: #FFFF;
          font-weight: bold;
          font-size: 18px;
    }
    span.text-bouton
    {
          display: none;
    }
    .bouton-recherche i 
    {
          background-color: #0065FC;
          height: auto;
          padding:  10px 20px 10px 20px;
    } 
      /* ---------PARTIE FILTRE-------------- */
    .text-filtre
    {
          font-weight: bold;
          font-size:  18px;  
          padding-left: 15px;    
    }
    .filtre
    {      
        flex-direction: column;
        display: flex;
        margin-left: 10px;    
    }  
    .filtre label:hover
    {
           color: #0065FC      
    }  
    .Bouton-filtre
    {
         display: flex;
         flex-direction: column; 
    }
    .filtre label
    {
          border: 2px solid #f2f2f2;
          border-radius: 30px;
          display: flex;
          align-items: center;
          margin:10px;
          cursor: pointer;
          width: 70%;
          height: 50px;     
    }
    .filtre i
    {
          color: #0065FC;
           font-size: 23px;
           width: 50px;
           height: 50px;
           background-color: #DEEBFF;
           border-radius: 40px;
           display: flex;
           align-items: center;
           justify-content: center;
           margin:  -2px;
    }
    .Bouton-filtre input
    {
       display: none; 
    }
    .Bouton-filtre input:checked + label
    {
          background-color: #f2f2f2;
    }
    .information
    {
          display: flex;
           align-items: center;     
    }
    .information i
    {
          width: 35px;
          height: 35px;
          color: #0065FC;
          border:solid 2px #F2F2F2;
          border-radius: 30px;
          display: flex;
           align-items: center;
           justify-content: center;
          margin-right: 20px;  
    }
    /* ---------PARTIE CONTAINER------- */
    h3, .house p, .populaire p
    {
        font-size: 12px;
    }
    a 
    {
        text-decoration: none;
    }
    .container
    {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
    }
    .hebergement
    { 
        width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    }  
    .house
    {
        height: 200px;
        
        
        margin: 25px;
        display: block;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 20px #c0c0c0;
        border: white solid 4px;  
    }
    .house img
    {
        width: 100%;
        height: 120px;
       object-fit: cover;
       object-position: center;
        border-radius: 20px 20px 0px 0px;
    }
    .house h3
    {
           color: black;
           font-size: 14px;
           padding-left: 10px;
           margin: 4px;
           text-decoration:none;
    }
    .house p
    {
           padding-left: 10px;
           margin: 4px;
           color: black;
    }
    .etoile
    {
           padding-left: 12px;  
           color: #0065FC;
    }
    .grey
    {
            color: #C0C0C0;
    }
    .titre-hebergement
    {
           padding-left: 30px;
           margin: 0px;   
    }
    .afficher-plus
    {
           padding-left: 30px;
           font-size: 20px;
           display:block;
           margin-top:15px;
    }
        /* -------PARTIE POPULAIRE--------- */
    .populaire
    {  
           background-color:#F2F2F2;
           border: solid 5px #F2F2F2;
            margin-top: 30px;
            margin-bottom: 30px; 
    }
    .image-populaire
    {
        height: 160px; 
        background-color:white;
        border:white solid 5px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px #C0C0C0;
        display: flex;
        margin-left:  30px;
        margin-right: 30px;
        margin-bottom: 35px;
    }
    .image-populaire img
    {
        width: 40%; 
        object-fit: cover;
        object-position: center center;
        border-radius: 15px 0px 0px 15px;
    }
    .text-populaire
    {  
        color: black;
        font-size: 15px;    
        padding-left: 10px;
        padding-top: 5px;
    }
    .populaire h3
    {
        margin: 4px;
        padding-bottom: 15px;
    }
    .populaire .etoile
    { 
        padding-left: 5px;
    }
    .titre-populaire
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .titre-populaire i
    {
        font-weight: bold;
        font-size: 25px;
    }
    /* --------PARTIE ACTIVITES ICI---------*/
    .titre-activites
    {
        padding-left: 25px;
    }
    .activites-bloc
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .activites-bloc img
    {
        object-fit: cover;
    }
    .bloc-vieux-port
    {
        width: 330px;
        margin-bottom: 25px;
        background: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 20px #C0C0C0;
    }
    .bloc-vieux-port img
    {
        height: 135px;
        width: 330px;
        border-radius:  20px 20px 0px 0px;
    }
    .activites-bloc p
    {
        padding-left: 10px;
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    .bloc-fort-iles
    {
        display: flex;
        flex-direction: column;
    }
    .fort 
    {
        width: 330px;
        background: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 20px #C0C0C0;
        margin-bottom: 25px;
    }
    .fort img
    {
        width: 330px;
        height: 135px;
        border-radius:  20px 20px 0px 0px;
    }
    .iles 
    {
        width: 330px;
        margin-bottom: 25px;
        background: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 20px #C0C0C0;
    }
    .iles img
    {   
        width: 330px;
        height: 135px;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-parcnational
    {
        width: 330px;
        margin-bottom: 25px;
        background: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 0px 20px #C0C0C0;
    }
    .bloc-parcnational img
    {
        height: 135px;
        width: 330px;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-notredame-longchamp
    {
        display: flex;
        flex-direction: column;
    }
    .notre-dame
    {
        background: white;
        border-radius: 20px 20px 20px 20px;
        width: 330px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 20px #C0C0C0;
        margin-bottom: 25px;
    }
    .notre-dame img
    {
        width: 330px;
        height: 135px;
        border-radius:  20px 20px 0px 0px;
    }
    .Parc-longchamp
    {
        background: white;
        border-radius: 20px 20px 20px 20px;
        width: 330px;
        
        box-shadow: 0px 0px 20px #C0C0C0;
    }
    .Parc-longchamp img
    {
        width: 330px;
        height: 135px;
        border-radius:  20px 20px 0px 0px;
    }
    /* PARTIE DU FOOTER ICI */
    footer
    {
        background-color:#F2F2F2;
    }
    .bloc-footer
    {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 30px;
    }
    .bloc-footer h3
    {
     padding-left: 40px;
    }
    .bloc-footer li
    {
     list-style: none;
    padding-top: 10px;
    }
    /*------------------------------VERSION ORDI--------------------------- */
    @media screen and (min-width:1024px) {
    .header-main
    {
        margin: 0 auto;
        max-width: 1340px;
        
    }
    .container-house
    {
        display: flex;
        flex-wrap: wrap;
        
    }
    header 
    {
        display: flex;
        align-items:center;
        width: 100%; 
    }
    .menu
    {
        width: 50%;
    }
    .navigation
    { 
        border-bottom: white;
       
    }
    .reservia
    {
        
        width: 130px;
    }
    .navigation li 
    {
       padding-right: 70px; 
       border-top: solid 2px transparent;
    }
    .navigation li:hover {
       
        border-top: solid 2px;
        border-bottom: white;
    }
    .container
    {
       flex-direction: inherit; 
    }
    .inscrire
    {
        padding-top: 13px;
        border-top: solid 2px transparent;
    }
    .banniere
    {
        height: auto;
    }
    .banniere p 
    {
        margin: 0px;
    }
    .bouton-recherche i 
    {
        display: none;
    }
    span.text-bouton
    {
        display: flex;
        padding-left: 10px;
    }
    .filtre
    {
        
        align-items: center;
      
      flex-direction: row;
      margin-top: 20px;
    }
    .barre-de-recherche
    {
        background-color: #0065FC;
        max-width: 390px;
    }
    .bouton
      {
          margin-right: 15px;
      }
    .Bouton-filtre
    {
       display: flex;
       flex-direction: row;
    }
    .filtre label 
    {
        width: 100%;
    }
    .recherche-2
    {
        width: 200px;
    }
    .hebergement
    {
        background-color:#F2F2F2;
        border-radius: 30px;
        margin-right: 40px;
    }
    .titre-hebergement
    {
        padding-top: 20px;
    }
    .afficher-plus
    {
        padding-top: 15px;
        padding-bottom: 20px;
    }
     .house
    {
        width: calc(100% / 3 - 58px);
    }
    .house img 
    {
        width: 100%
    }
    .populaire
        {
           height: 630px;
            border-radius: 30px;
            
        }
    .image-populaire
    {
        height: 135px;
        width: 340px;
       }
       .activites-bloc
       {
           
           flex-direction: unset; 
       }
       .activites-bloc img
    {
        object-fit: cover;
    }
    .bloc-vieux-port
    {
       width: 25%;
        height: 454px;
        margin: 0 25px;
    }
    .bloc-vieux-port img
    {
        height: 390px;
        width: 100%;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-fort-iles
    {
        width: 25%;
        margin: 0 25px;
    }
    .fort 
    {
        height: 238px;
        width: 100%;
        margin-bottom: 50px;
    }
    .fort img
    {
        width: 100%;
        height: 180px;
        border-radius:  20px 20px 0px 0px;
    }
    .iles 
    {
        width: 100%;
        height: 166px;
    }
    .iles img
    {   
        width: 100%;
        height: 110px;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-parcnational
    {
        width: 25%;
        margin: 0 25px;
        height: 454px;
    }
    .bloc-parcnational img
    {
        height: 390px;
        width: 100%;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-notredame-longchamp
    {
        width: 25%;
        margin: 0 25px;
    }
    .notre-dame
    {
        width: 100%;
        height: 196px;
        margin-bottom: 50px;
    }
    .notre-dame img
    {
        width: 100%;
        height: 140px;
        border-radius:  20px 20px 0px 0px;
    }
    .Parc-longchamp
    {
        width: 100%;
        height: 210px; 
    }
    .Parc-longchamp img
    {
        width: 100%;
        height: 152px;
        border-radius:  20px 20px 0px 0px;
    }
    .bloc-footer
    {
        flex-direction: unset;
        justify-content: space-around;
        margin: 50px auto 0;
        max-width: 1340px;
    }
    .bloc-footer h3
    {
        margin-top: 30px;
        text-align: center;
    }
    .bloc-footer li
    {
     padding-right: 25px;
     padding-left: 25px;
    }
    }
     /* ------------------VERSION Tablette ici---------------------------*/
     @media screen and (min-width: 500px) and (max-width: 1023px){
    .house
    {
    width: 60%;
    margin-left: 18%;
    }
    .image-populaire 
    {
        width: 70%;
    }
    .populaire
    {
        padding-left: 15%;
    }
    .house img 
    {
        width: 100%;
        object-position: bottom;
    }
    .bouton
    {
        padding-left: 1%;
    }
    .Bouton-filtre
    {
        flex-direction: initial;
        flex-wrap: wrap;
    }
    .filtre label 
    {
        width: 100%;
    }
    .activites-bloc
    {
        align-items: center;
    }
    
    .bloc-vieux-port
    {
      width: 60%;
    }
    .bloc-vieux-port img
    {
      width: 100%;
    }
    .fort 
    {
        width: 60%;
        margin-left: 20%;
    }
    .fort img
    {
        width: 100%;
    }
    .iles 
    {
        width: 60%;
        margin-left: 20%;
    }
    .iles img
    {   
        width: 100%; 
    }
    .bloc-parcnational
    {
        width: 60%;
    }
    .bloc-parcnational img
    {
        width: 100%;
    }
    .notre-dame
    {
        width: 60%;
        margin-left: 20%;
    }
    .notre-dame img
    {
        width: 100%;
    }
    .Parc-longchamp
    {   
        width: 60%;
        margin-left: 20%;
    }
    .Parc-longchamp img
    {
        width: 100%; 
    }
    }