*
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body
{
    border: solid 5px red;
    width: 1440px;
}

header 
{
    border: solid 5px blue;
   display: flex;
   align-items:center;
   justify-content: space-between;
}
.menu
{
    border: solid 5px magenta;
    margin-left: auto;
}

.navigation
{
    display: flex;
 
    border: solid 5px green;
    list-style:none;
}
.inscrire
{
    
}












